useDynLib(Rgtsp,RGTSP_tsp_N,RGTSP_tsp_NW,RGTSP_tsp_S,RGTSP_tsp_SW,RGTSP_tsp_hub)
import(party)
export(tsp.n)
export(tsp.s)
export(tsp.hub)
export(mtsp)
export(cv.tsp)
export(idx2names)
S3method(print,tspair)
S3method(print,tsphub)
S3method(predict,tspair)
S3method(predict,tsphub)
S3method(predict,mtsp)
